/* Font Face Rules */
@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/Proxima Nova/FontsFree-Net-proxima_nova_reg-webfont.ttf') format('opentype');
}

:root {
    --white: #FFFFFF;
    --white-alt: #B3B3B3;
    --white-shade: rgba(255, 255, 255, 0.05);
    --green: #2AB859;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: normal;
}